### <center> Limpeza dos dados e Transformação em Parquet</center>

--------

#### Bibliotecas

In [1]:
from pathlib import Path
import pandas as pd

#### Variáveis Locais

In [2]:
# Variáveis RAW e PARQUET
RAW_DIR = Path("..") / "data" / "raw"
PARQUET_DIR = Path("..") / "data" / "parquet"
PARQUET_DIR.mkdir(parents=True, exist_ok=True)

#### Conferindo Caminhos

In [3]:
RAW_DIR

PosixPath('../data/raw')

In [4]:
PARQUET_DIR

PosixPath('../data/parquet')

#### Carregando os Dados (XAU_15Min)

In [5]:
csv_15m = RAW_DIR / "XAU_15m_data.csv"
df_15m = pd.read_csv(csv_15m, delimiter=";")

In [6]:
print("Shape:", df_15m.shape)

Shape: (485968, 6)

In [7]:
display(df_15m.head())

               Date   Open   High    Low  Close  Volume
0  2004.06.11 07:15  384.0  384.3  383.8  384.3      12
1  2004.06.11 07:30  383.8  384.3  383.6  383.8      12
2  2004.06.11 07:45  383.3  383.8  383.3  383.8      20
3  2004.06.11 08:00  383.8  384.1  383.6  383.6       8
4  2004.06.11 08:15  383.6  384.3  383.5  383.5      20

In [8]:
print("\nDtypes:")
print(df_15m.dtypes)

Dtypes:
Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object